
<template>
    <style>
        .frm{
            padding: 10px;
        }

        @media all and (max-width : 768px) {
            .frm input, .frm select{
                width: 98% !important;
            }
        }

    </style>
  
    <fieldset class="frm" >
        <legend>Museu</legend>

        <div class="inline">
            <label for="edtRazSoc">Nome *</label>
            <input type="text" class="only-view" id="edtNome" maxlength="90" disabled>
        </div>
        <div class="inline">
            <label for="edtLat">Latitude</label>
            <input type="text" class="only-view" id="edtLat" maxlength="10" onfocus="this.select();" onkeyup="valFloat(this,6)" disabled>
            <label for="edtLon">Longitude</label>
            <input type="text" class="only-view" id="edtLon" maxlength="10" onfocus="this.select();" onkeyup="valFloat(this,6)" disabled>
        </div>
        <div class="inline">
            <label for="edtEnd">Endereço</label>
            <input type="text" class="only-view" id="edtEnd" maxlength="60" disabled>
            <label for="edtNum">Num.</label>
            <input type="text" class="only-view" id="edtNum" maxlength="6" style="width: 150px;" disabled>    
        </div>
        <div class="inline">
            <label for="edtComp">Complemento</label>
            <input type="text" class="only-view" id="edtComp" maxlength="60" disabled>
        </div>
        <div class="inline">
            <label for="edtPais">País</label>
            <input type="text" class="only-view" id="edtPais" maxlength="25" disabled>
            <label for="edtCidade">Cidade</label>
            <input type="text" class="only-view" id="edtCidade" maxlength="60" disabled>
            <label for="cmbUF">Estado</label> 
            <select id="cmbUF" class="only-view" style="width: 200px;" disabled>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapa</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceara</option>
                <option value="ES">Espirito Santo</option>
                <option value="DF">Distrito Federal</option>
                <option value="MA">Maranhao</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Para</option>
                <option value="PB">Paraiba</option>
                <option value="PR">Parana</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piaui</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondonia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option selected="selected" value="SP">Sao Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>                    
            </select>   
        </div>
        <div class="inline">            
            <label for="edtBairro">Bairro</label>
            <input type="text" class="only-view" id="edtBairro" maxlength="60" disabled>
            <label for="edtCEP">CEP</label>
            <input type="text" class="only-view" id="edtCEP" maxlength="10" onkeyup="valCEP(this)" style="width: 200px;" disabled>
            <label for="edtTel">Tel</label>
            <input type="text" class="only-view" id="edtTel" onkeyup="phone(this)" maxlength="15" style="width: 200px;" disabled>            
        </div>
        <div class="inline">
            <label for="edtMail">Email</label>
            <input type="email" class="only-view" id="edtMail" maxlength="80" onkeyup="validaEmail(this)" disabled>
        </div>
        <div class="inline">
            <label for="edtObs">Obs:</label>
            <textarea id="edtObs"></textarea>
        </div>

        <div class="line">
            <button id="btnDel" class="only-view" disabled>Deletar</button>
            <button id="btnEdit">Editar</button>
            <button id="btnSave" class="only-view" disabled>Salvar</button>
        </div>
    </fieldset>

</template>
<script>
    
    const pageData = main_data.adm_view_museu.data
    const pageFunc = main_data.adm_view_museu.func
    const pageScreen = document.querySelector('#card-adm_view_museu')
    const newMuseu = Object.keys(pageData).length == 0

    function startPage(){
        if(newMuseu){
            openFields(1)
            pageScreen.querySelector('#btnDel').disabled = 1
            pageScreen.querySelector('#btnEdit').disabled = 1
        }else{
            pageScreen.querySelector('#edtNome').value = pageData.nome
            pageScreen.querySelector('#edtLat').value = pageData.lat
            pageScreen.querySelector('#edtLon').value = pageData.lon
            pageScreen.querySelector('#edtEnd').value = pageData.rua
            pageScreen.querySelector('#edtNum').value = pageData.num
            pageScreen.querySelector('#edtComp').value = pageData.comp
            pageScreen.querySelector('#edtPais').value = pageData.pais
            pageScreen.querySelector('#edtCidade').value = pageData.cidade
            pageScreen.querySelector('#cmbUF').value = pageData.estado
            pageScreen.querySelector('#edtBairro').value = pageData.bairro
            pageScreen.querySelector('#edtCEP').value = pageData.cep
            pageScreen.querySelector('#edtTel').value = pageData.tel
            pageScreen.querySelector('#edtObs').value = pageData.obs
            pageScreen.querySelector('#edtMail').value = pageData.email
            pageScreen.querySelector('#btnEdit').disabled = 0
        }
    }

    function openFields(open=1){
        const view = pageScreen.querySelectorAll('.only-view')
        for(let i=0; i<view.length; i++){
            view[i].disabled = !open
        }
    }
// id,nome,lat,lon,pais,uf,cidade,rua,num,comp,bairro,tel,email,obs,cep
    pageFunc.setMuseu = ()=>{
        const params = new Object;
            params.id = newMuseu ? 0 : pageData.id
            params.nome = pageScreen.querySelector('#edtNome').value.trim()
            params.lat = pageScreen.querySelector('#edtLat').value
            params.lon = pageScreen.querySelector('#edtLon').value
            params.pais = pageScreen.querySelector('#edtPais').value.trim()
            params.uf = pageScreen.querySelector('#cmbUF').value.trim()
            params.cidade = pageScreen.querySelector('#edtCidade').value.trim()
            params.rua = pageScreen.querySelector('#edtEnd').value.trim()
            params.num = pageScreen.querySelector('#edtNum').value.trim()
            params.comp = pageScreen.querySelector('#edtComp').value.trim()
            params.bairro = pageScreen.querySelector('#edtBairro').value.trim()
            params.tel = pageScreen.querySelector('#edtTel').value.trim()
            params.email = pageScreen.querySelector('#edtMail').value.trim()
            params.obs = pageScreen.querySelector('#edtObs').value.trim()
            params.cep = pageScreen.querySelector('#edtCEP').value.trim()
          
        const myPromisse = queryDB(params,'MUS-1');
        myPromisse.then((resolve)=>{
            setLog(`Museu ${newMuseu?'Cadastrado':'Editado'} ${ !newMuseu ? pageData.nome :''} -> ${params.nome}`)
            try{
                main_data.adm_museu.func.fillMuseu()
            }catch{
                console.error('Tela fechada pelo usuário!')
            }
            alert('Cadastrado efetuado!')
            closeModal('adm_view_museu')
        })
    }

    pageFunc.delMuseu = ()=>{
        if(confirm('Deseja realmente deletar este Museu?')){
            const params = new Object;
                params.id = pageData.id
                params.nome = ''
            
            const myPromisse = queryDB(params,'MUS-1');
            myPromisse.then((resolve)=>{
                try{
                    main_data.adm_museu.func.fillMuseu()
                }catch{
                    console.error('Tela fechada pelo usuário!')
                }
                setLog(`Museu Deletado -> ${pageData.nome}`)
                closeModal('adm_view_museu')
            })
        }
    }

    pageScreen.querySelector('#btnSave').addEventListener('click',()=>{
        pageFunc.setMuseu()
    })

    pageScreen.querySelector('#btnDel').addEventListener('click',()=>{
        pageFunc.delMuseu()
    })

    pageScreen.querySelector('#btnEdit').addEventListener('click',()=>{
        if(pageScreen.querySelector('#btnSave').disabled){
            if(confirm('Abrir registro para edição?')){
                openFields(1)
            }
        }else{
            openFields(0)
        }
    })

    startPage()

</script>