
<template>
    <style>

    </style>

        <fieldset class="fds-busca museu">
            <legend>Busca</legend>
            <div class="inline">
                <label for="edtBusca">por:</label>
                <select id="cmbBusca">
                    <option value="id" signal="IN">Código</option>
                    <option value="nome" signal="LIKE" selected>Nome</option>
                    <option value="pais" signal="LIKE" >País</option>
                    <option value="uf" signal="LIKE">UF</option>
                    <option value="cidade" signal="LIKE">Cidade</option>
                </select>
                <input type="text" id="edtBusca" onkeypress="return getEnter(event, 'btnBusca')">
                <button id="btnBusca" class="btn-round" ><span class="mdi mdi-magnify"></span></button>
                <button id="btnNovo" class="btn-round"><span class="mdi mdi-plus-thick"></span></button>            
            </div>

            <table id="tblMuseu"></table>
        </fieldset>
    
</template>
<script>
  
    const pageData = main_data.adm_museu.data
    const pageFunc = main_data.adm_museu.func
    const pageScreen = document.querySelector('#card-adm_museu')

    pageFunc.fillMuseu = ()=>{      
        const tbl = pageScreen.querySelector('#tblMuseu')
        tbl.innerHTML = ''
        const query = getVal('museu')
        const params = new Object;
            params.field = query[0]
            params.signal = query[1]
            params.value = query[2]
        const myPromisse = queryDB(params,'MUS-0');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            tbl.style.display = json.length > 0 ? 'inline-table' : 'none'
            tbl.head('Nome,UF,Cidade')
            for(let i=0; i<json.length;i++){
                tbl.plot(json[i],'nome,uf,cidade','Upp,Upp,Upp')
            }         
        });
    }

    pageScreen.querySelector('#btnBusca').addEventListener('click',()=>{
        pageFunc.fillMuseu()
    })

    pageScreen.querySelector('#btnNovo').addEventListener('click',()=>{
        openHTML('adm_view_museu.html','pop-up','Novo Museu')
    })

    pageScreen.querySelector('#tblMuseu').addEventListener('click',(e)=>{
        try{
            if(main_data.hasOwnProperty('adm_view_museu')){
                closeModal('adm_view_museu')
            }
            data = e.target.parentNode.data
            data != undefined ? openHTML('adm_view_museu.html','pop-up',`Edição de dados - ${data.nome.toUpperCase()}`,data) : null
       }catch{null}
    })

</script>