<template>
    <style>
        .center{
            text-align: center;
        }

    </style>

    <fieldset class="fds-token">
        <legend>Tokens</legend>
                
        <table id="tblToken"></table>
        <div class="line">
            <button id="btnNovo"><span class="mdi mdi-plus-thick"></span> Novo Token</button>
        </div>
    </fieldset>


</template>
<script>

    const pageData = main_data.sys_token.data
    const pageFunc = main_data.sys_token.func
    const pageScreen = document.querySelector('#card-sys_token')

    pageFunc.fillTokens = ()=>{
        const tbl = pageScreen.querySelector('#tblToken')
        tbl.innerHTML = ''
        const myPromisse = queryDB({},'ACC-0');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            tbl.head('Dono,Acervo,Expira,Read|center,Write|center,Edit|center,Del|center')
            for(let i=0; i<json.length; i++){
                tbl.plot(json[i],'owner,acervo,expira_em,ler|center,criar|center,alterar|center,deletar|center','str,Upp,dat,ico 1=mdi-check-bold 2=mdi-close-thick,ico 1=mdi-check-bold 2=mdi-close-thick,ico 1=mdi-check-bold 2=mdi-close-thick,ico 1=mdi-check-bold 2=mdi-close-thick')
            }
        });
    }

    pageScreen.querySelector('#btnNovo').addEventListener('click',()=>{
        closeModal('sys_view_token')
        openHTML('sys_view_token.html','pop-up','Novo Acesso Remoto')
    })

    pageScreen.querySelector('#tblToken').addEventListener('click',(e)=>{
        data = e.target.parentNode.data
        if(data != undefined){
            closeModal('sys_view_token')
            openHTML('sys_view_token.html','pop-up',`Edição de dados `,data)
       }
    })


    pageFunc.fillTokens()

</script>