<template>
    <style>

        .frm-show{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 10px;
        }

        .square-img{
            width: 200px;
            height: 200px;
        }
     
        .square-img:hover{
            cursor: pointer;
            border: solid 1px rgb(189, 25, 25);
        }

        #btnNovo{
/*            position: absolute;*/
        }

    </style>
  <div class="frm-anexo">
    <button id="btnNovo" class="btn-round"><span class="mdi mdi-plus-thick"></span></button>
    <div class="frm-show"></div>
  </div>

</template>
<script>

    const pageData = main_data.tool_anexos.data
    const pageFunc = main_data.tool_anexos.func
    const pageScreen = document.querySelector('#card-tool_anexos')

    pageScreen.querySelector('#btnNovo').addEventListener('click',()=>{
        pageData.org = 'tool_anexos'
        openHTML('tool_upload_file.html','pop-up','Arquivo',pageData,600)
    })

    pageFunc.fillAnexo = ()=>{

        const data = new URLSearchParams();        
            data.append("dir",`files/${pageData.id_acervo}/${pageData.id_item}/`);
        const myRequest = new Request("backend/show_dir.php",{
            method : "POST",
            body : data
        })
        const myPromisse = new Promise((resolve,reject) =>{
            fetch(myRequest)
            .then(function (response){
                if (response.status === 200) { 
                    resolve(response.text());             
                } else { 
                    reject(new Error("Houve algum erro na comunicação com o servidor"));                    
                } 
            })
        })  
        myPromisse.then((txt)=>{
            const json = JSON.parse(txt)
            const frm = pageScreen.querySelector('.frm-show')
            frm.innerHTML = ''
            for(let i=json.length-1; i>=2; i--){
                const img = document.createElement('img')
                img.className = 'square-img'
                img.src = `files/${pageData.id_acervo}/${pageData.id_item}/${json[i]}`
                img.addEventListener('click',()=>{
                    if(confirm('Remover esta imagem permanentemente?')){
                        delFile(`/../files/${pageData.id_acervo}/${pageData.id_item}/${json[i]}`)
                        .then(()=>{
                            pageFunc.fillAnexo()
                        })
                    }

                })
                frm.appendChild(img)

            }

        })     
    }

    pageFunc.fillAnexo()

</script>